
.icono-nav {
    width: 3rem;
}

.img-buscador {
    width: 30rem;
}

.buscador {
    margin-left: 20%;
}

.input-buscador {
    width: 43rem;
}

.img-superheroe {
    width: 30rem;
}

hr {
    margin: 0;
}